SERVICE=mcadbs
HOSTNAME=localhost
FAMESERIES=ibm.close
FAMEISSUER=ibm.issuer
FAMEDB=prc
USERNAME=
PASSWORD=
SITESERVER=mcaserv@localhost
SPINDEX=frdb_m@localhost \$PRC_TARGET/spindex010320.db
SPINDATE=20010320
